Source: libbfio
Section: unknown
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.3
Homepage: http://code.google.com/p/libbfio/

Package: libbfio
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: libbfio-dbg
Description: Library to support (abstracted) basic file IO
 libbfio is a library to support (abstracted) basic file IO.

Package: libbfio-dbg
Architecture: any
Section: debug
Depends: libbfio (= ${Source-Version}), ${misc:Depends}
Description: Debugging symbols for libbfio
 Debugging symbols for libbfio.

Package: libbfio-dev
Section: libdevel
Architecture: any
Depends: libbfio (= ${Source-Version})
Description: Header files and libraries for developing applications for libbfio
 Header files and libraries for developing applications for libbfio.

